<div id= "index-designation">
<div class="container-fluid">
  <div class="row up">
    <div class="col-md-12">
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    
    <li class="breadcrumb-item active" aria-current="page">Designation</li>
  </ol>
</nav>
</div></div>
  </div>
<div class="row up">
  <div class="col-md-12">
    <div class="container-fluid">
      <div class="alert alert-secondary" role="alert">
  Designation List 
</div>
<div class="table-responsive-sm">
<table class="table table-bordered table-hover chandni">
	<tr>
	  <%= link_to 'Add new Designation', new_designation_path,:class => "btn",remote: true %>
    </tr>
	<caption>List of Designation</caption>
	<header>
		<th>#</th>
		<th>Department Name</th>
		<th>Designation Name</th>
		<th>Remark</th>
		<th>Action</th>
	</header>
  	<tbody class="product-index">
      <%= render "index" %>
    </tbody>
</table>
</div>
</div>

